<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.course.dao.yyh.IUserDao">

	<insert id="saveUserInfo">
		INSERT INTO `user` VALUES
		(#{U.id},#{U.name},#{U.pwd},#{U.classId},#{U.roleId},#{U.sex},#{U.identityCard},#{U.phone},
		#{U.address},#{U.inDate},#{U.outDate},#{U.isLocked},#{U.description},#{U.img},#{U.state});
	</insert>

</mapper>